/* Hotel-Mediterraneo.css */

#seccion {
    margin-left: 75px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.carousel {
    max-width: 615px; /* Ajusta el ancho del carrusel */
    position: absolute;
    margin-left: 80px;
    
  }
  
  .carousel .carousel-item img {
    height: 500px; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Ajusta cómo se muestra la imagen dentro de su contenedor */

}
  
.Datos{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 725px;
    top: 170px;
}